<div class="main-auction-container container">
    <!-- CARDSS -->
    <div class="row">
        <div class="col-lg-4" *ngFor="let auction of dataSource">
            <mat-card class="example-card">
                <div class="div-card">
                    <mat-card-header style="text-align: center;">
                        <mat-card-title-group class="div-title-group">
                            <button mat-stroked-button color="primary" (click)="openEditDialog(auction.auctionId)" style="min-width: 5rem;">Edit</button>
                            <button mat-stroked-button color="warn" (click)="deleteAuction(auction.auctionId)" style="min-width: 5rem;">Delete</button>
                            <mat-card-title>{{auction.title}}</mat-card-title>
                            <mat-card-subtitle>Početna cijena: {{auction.startingPrice}}KM</mat-card-subtitle>
                            <mat-divider></mat-divider>
                        </mat-card-title-group>
                    </mat-card-header>
                    <img mat-card-xl-image *ngIf="auction.image !== null && auction.image !== ''" src="https://localhost:7273/{{auction.image}}">
                    <img mat-card-xl-image *ngIf="auction.image === null || auction.image === ''" src="assets/noImage.png" >
                    <mat-card-content class="mt-2 mb-2">
                          <div class="scrollable-text">
                            {{auction.description}}
                          </div>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions class="bid-card" style="display: flex; justify-content: center;">
                        <div class="div-date">
                            {{auction.startsAt | date: 'short'}}
                        </div>
                        <div class="div-date">
                            {{auction.endsIn | date: 'short'}}
                        </div>
                    </mat-card-actions>
                    <mat-card-actions style="flex-direction: column;">
                        <button mat-button color="primary" style=" width: 15rem;" (click)="goToDetails(auction)">
                            Auction details
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<mat-paginator class="paginator"
    [length]="allAuctions.length"
    [pageSize]="6"
    aria-label="Select page"
    (page)="something($event)">
</mat-paginator>