<div class="main-auction-container">
    <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="auctionId">
            <th mat-header-cell *matHeaderCellDef> Auction id </th>
            <td mat-cell *matCellDef="let element"> {{element.auctionId}} </td>
        </ng-container>
        
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        
        <ng-container matColumnDef="startingPrice">
            <th mat-header-cell *matHeaderCellDef> Starting price </th>
            <td mat-cell *matCellDef="let element"> {{element.startingPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="categoryId">
            <th mat-header-cell *matHeaderCellDef> Category id </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
        </ng-container>

        <ng-container matColumnDef="startsAt">
            <th mat-header-cell *matHeaderCellDef> Starts at </th>
            <td mat-cell *matCellDef="let element"> {{element.startsAt | date: 'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="endsIn">
            <th mat-header-cell *matHeaderCellDef> Ends in </th>
            <td mat-cell *matCellDef="let element"> {{element.endsIn | date: 'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.image !== null">
                    <img src="https://localhost:7273/{{element.image}}"> 
                </span>
                <span *ngIf="element.image === null">
                    <img src="assets/noImage.png"> 
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="bids">
            <th mat-header-cell *matHeaderCellDef> Bid </th>
            <td mat-cell *matCellDef="let element"> {{element.bids}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>      
</div>