@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
html{
    background-color: gainsboro;
}
body{
    max-width: 90%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}