.main-auction-container {
    padding: 0.5rem;
    max-width: 80%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-card {
    max-width: 60rem;
    width: 100%;
    min-height: 60vh;
    margin-bottom: 3rem;
    padding: 0.5rem;
    align-items: center;
    background-color: whitesmoke;
}
.div-date {
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background-color: #3f51b5;
    color: white;
}
.div-card {
    max-width: 50rem;
    width: 100%;
    background-color: white; 
    text-align: center; 
    border-radius: 0.5rem;
}
.div-title-group {
    display: block;
    margin-bottom: 0.5rem;
}
.bid-card {
    justify-content: center;
}
.table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}
.highest-bid {
    padding: 0.3rem;
    border-radius: 2rem;
    background-color: #14cc1b;
    color: white;
    width: 40%;
    height: 4rem;
    margin: auto;
}

/* @Medi */
@media screen and (max-width: 450px) {
    .myImage{
        width: 100%;
    }
}
@media screen and (max-width: 540px) {
    .bid-card {
        flex-direction: column;
    }
    .div-date {
        margin-top: 0.3rem;
    }
}