<div class="navbar-container">
  <mat-toolbar color="primary" class="navbar-toolbar">
      <button mat-icon-button class="example-icon" (click)="goHome()">
          <mat-icon>home</mat-icon>
      </button>
      <span>Home</span>
      <span class="example-spacer"></span>
      <h2 style="margin-top: 1rem;">Real time auction</h2>
      <span class="example-spacer"></span>
      <mat-label>
        Username
      </mat-label>
      <button class="example-icon" 
          mat-icon-button 
          #userMenuTrigger="matMenuTrigger"
          (mouseover)="openMyMenu(userMenuTrigger)"
          [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
          <span (mouseleave)="closeMyMenu(userMenuTrigger)">
              <button mat-menu-item
                      (click)="openDialog()">
                <mat-icon>attach_money</mat-icon>
                <span>Place auction</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="bttn-color-login">sentiment_very_satisfied</mat-icon>
                <span>Log in</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="bttn-color-logout">sentiment_very_dissatisfied</mat-icon>
                <span>Log out</span>
              </button>
          </span>
        </mat-menu>
  </mat-toolbar>
</div>